annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
arrow==1.3.0
asgiref==3.8.1
astroid==3.3.9
azure-ai-textanalytics==5.3.0
azure-common==1.1.28
azure-core==1.34.0
azure-cosmos==4.9.0
azure-maps-search==2.0.0b2
azure-mgmt-core==1.5.0
bcc==0.18.0
binaryornot==0.4.4
blinker==1.4
Brlapi==0.8.3
build==1.2.2.post1
buildozer==1.5.0
CacheControl==0.14.3
cachetools==5.5.2
certifi==2020.6.20
chardet==4.0.0
chrome-gnome-shell==0.0.0
click==8.0.3
colorama==0.4.4
command-not-found==0.3
contourpy==1.3.1
cookiecutter==2.6.0
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
Cython==3.0.12
dbus-python==1.2.18
defer==1.0.6
dill==0.4.0
distlib==0.3.9
distro==1.7.0
Django==5.2
docutils==0.21.2
et_xmlfile==2.0.0
exceptiongroup==1.2.2
fastapi==0.115.12
filelock==3.18.0
filetype==1.2.0
firebase-admin==6.8.0
flet==0.27.6
flet-cli==0.27.6
flet-desktop==0.27.6
flet-web==0.27.6
fonttools==4.57.0
geographiclib==2.0
geopy==2.4.1
google-api-core==2.24.2
google-api-python-client==2.169.0
google-auth==2.39.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.3
google-cloud-firestore==2.20.2
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
googlemaps==4.10.0
grpcio==1.71.0
grpcio-status==1.71.0
gunicorn==23.0.0
gyp==0.1
h11==0.16.0
hidpidaemon==18.4.6
httpcore==1.0.9
httplib2==0.20.2
httptools==0.6.4
httpx==0.28.1
idna==3.3
importlib-metadata==4.6.4
iniconfig==2.1.0
isodate==0.7.2
isort==6.0.1
jeepney==0.7.1
Jinja2==3.1.6
joblib==1.4.2
kernelstub==3.1.4
keyring==23.5.0
Kivy==2.3.1
Kivy-Garden==0.1.5
kivy-garden.mapview==1.0.6
kivymd==1.2.0
kiwisolver==1.4.8
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
louis==3.20.0
macaroonbakery==1.3.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mccabe==0.7.0
mdurl==0.1.2
more-itertools==8.10.0
msgpack==1.1.0
msrest==0.7.1
netaddr==0.8.0
netifaces==0.11.0
nltk==3.9.1
numpy==2.2.4
oauthlib==3.2.2
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.7
pluggy==1.5.0
plyer==2.1.0
pop-transition==1.1.2
proto-plus==1.26.1
protobuf==5.29.4
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.20.1
pycups==2.0.1
pydantic==2.11.4
pydantic_core==2.33.2
pydbus==0.6.0
Pygments==2.19.1
PyGObject==3.42.1
PyJWT==2.10.1
pylint==3.3.6
pymacaroons==0.13.0
PyNaCl==1.5.0
pyparsing==2.4.7
pypng==0.20220715.0
pyproject_hooks==1.2.0
pyRFC3339==1.1
pytest==8.3.5
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-dotenv==1.1.0
python-for-android==2024.1.21
python-gnupg==0.4.8
python-slugify==8.0.4
python-xlib==0.29
pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
qrcode==7.4.2
regex==2024.11.6
repath==0.9.0
repolib==2.2.1
repoman==1.4.0
requests==2.25.1
requests-oauthlib==2.0.0
rich==14.0.0
rsa==4.9.1
scikit-learn==1.6.1
scipy==1.15.2
screen-resolution-extra==0.0.0
seaborn==0.13.2
SecretStorage==3.3.1
sessioninstaller==0.0.0
sh==1.14.3
six==1.16.0
sniffio==1.3.1
sqlparse==0.5.3
starlette==0.46.2
systemd-python==234
text-unidecode==1.3
threadpoolctl==3.6.0
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
tqdm==4.67.1
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.0
typing_extensions==4.13.1
tzdata==2025.2
ubuntu-drivers-common==0.0.0
ufw==0.36.1
uritemplate==4.1.1
urllib3==1.26.5
uvicorn==0.34.2
uvloop==0.21.0
virtualenv==20.30.0
wadllib==1.3.6
watchdog==4.0.2
watchfiles==1.0.5
websockets==15.0.1
xdg==5
xkit==0.0.0
xlrd==2.0.1
zipp==1.0.0
